<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Résumé</h2>
					</div>
					<div class="panel-body">
						<p>Couvée actuelle : 16e jour.</p>
						<p>Début de la période d'éclosions dans 3 jours.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h2 class="panel-title text-center">ATTENTION</h2>
					</div>
					<div class="panel-body">
						L'humidité est trop faible, vous devez remplir les bacs à eaux.<br>
						Danger pour la couvée !
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Détails</h2>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Température</h3>
							</div>
							<div class="panel-body">
								<p class="text-center information-block">
									37,6°C<br><span class="success">Stable</span>
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Humidité</h3>
							</div>
							<div class="panel-body">
								<p class="text-center information-block">
									35%<br><span class="failure">Faible</span>
								</p>
							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Ventilation</h3>
							</div>
							<div class="panel-body">
								<p class="text-center information-block">
									<span class="success">Ventilation activée</span>
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Retournement des oeufs</h3>
							</div>
							<div class="panel-body">
								<p class="text-center information-block">
									<span class="success">Il y a trois heures</span>
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>